h1{
    color: whitesmoke;
    font-size: xx-large;
    padding-left: 115px;
}

#ProfilePic {
    width:100%; 
    height:100%; 
    border: 5rem;
    border-color: khaki;
  }

  #ProjectPic1 {
    width: 100%;
    height: 14vw;
    padding-bottom: 5px;
  }

  #ProjectPic2 {
    width: 100%;
    height: 31vh;
  }

  #ProjectPic3 {
    width: 100%;
    height: 31vh;
    padding-bottom: 15px;
  }
  #ProjectPic4 {
    width: 100%;
    height: 20vh;
    padding-bottom: 20px;
  }
  #ProjectPic5 {
    width: 100%;
    height: 16vh;
    padding-bottom: 5px;
  }
  #ProjectPic6 {
    width: 100%;
    height: 16vh;
    padding-bottom: 5px;
  }




#Card { 
font-size: 20px;
margin-bottom: 30px;
}
.content{
 background-color: rgba(7, 7, 7, 0.979);  
}
.container{
position: relative;
 background-color: rgba(7, 7, 7, 0.979);  
}

#LinksToMedia {
    text-align: center;
}
#headingText {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}